beautifulsoup4==4.8.2
bs4==0.0.1
dj-database-url==0.5.0
Django==3.0.8
django-heroku==0.3.1
gunicorn==20.0.4
heroku==0.1.4
pathlib==1.0.1
pefile==2019.4.18
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.11.3
psycopg2==2.8.5
public==2019.4.13
pycodestyle==2.5.0
Pygments==2.6.1
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.4.4
pyparsing==2.4.7
pyquery==1.4.1
pyrsistent==0.15.7
python-dateutil==2.6.1
python-dotenv==0.13.0
python-json2csv==0.2.0
python-vkontakte==1.1.2
pytz==2019.3
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
selenium==3.141.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.25.8
virtualenv==20.0.25
